<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchendotcom | Billing</title>
    <!-- bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

</head>

<body>
    {% comment %} section one {% endcomment %}
    <section class="row">
        <div class="col">
            {% comment %} ra creators {% endcomment %}
            <div class="cell">
            <pre>
RAJAT AGRAWAL CREATORS
ASH BHAIRO
VARANASI
GSTIN/UIN: 09CLEPA9997D1ZQ
State Name :  Uttar Pradesh, Code : 09
E-Mail : info@racreators.com
            </pre>
            </div>
            {% comment %} ship to {% endcomment %}
            <div class="cell">
            <pre>
RAJAT AGRAWAL CREATORS
ASH BHAIRO
VARANASI
GSTIN/UIN: 09CLEPA9997D1ZQ
State Name :  Uttar Pradesh, Code : 09
E-Mail : info@racreators.com
            </pre>
            </div>
            {% comment %} bill to {% endcomment %}
            <div class="cell">
<pre>
RAJAT AGRAWAL CREATORS
ASH BHAIRO
VARANASI
GSTIN/UIN: 09CLEPA9997D1ZQ
State Name :  Uttar Pradesh, Code : 09
E-Mail : info@racreators.com
</pre>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
<pre>
Invoice No.
21-22/A00103
</pre>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    {% comment %} table section {% endcomment %}
    <section class="row"></section>
    {% comment %} total section {% endcomment %}
    <section class="row"></section>

</body>

</html>