$primary-color: rgba(0, 102, 101, 0.9);
$font-color: rgb(252, 182, 133);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

// body {
// height: 100vh;
// width: 100vw;
// max-width: 100%;
// background-color: $primary-color;
// color: $font-color;
// }

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

#content {
  #others {
    .cities {
      align-items: center;
      justify-content: flex-end;

      .city {
        border-left: gray 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.5rem;
          letter-spacing: 0.581016px;
          text-transform: capitalize;
        }

        p {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;

          /* or 127% */
          letter-spacing: 0.581016px;
          text-transform: capitalize;

          color: rgba(0, 0, 0, 0.62);
        }
      }
    }
  }

  #form {
    .heading {
      color: $primary-color;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 35.1898px;
      line-height: 48px;
    }

    .description {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

#decorators {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  img {
    position: absolute;
  }

  .bg-topleft {
    left: 0;
  }

  .bg-topright {
    right: 0;
  }

  .bg-full {
    top: 0;
    right: 0;
  }
}

//footer
$footer-primary: rgba(0, 102, 101, 1);
$footer-bg:rgba(255, 210, 178, 1);

#contactus-footer {
  // background-color: rgba(255, 210, 178, 0.92);
  background-image: url("/static/contactus/img/Rectangle\ 32.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Open Sans;

  .bg {
    // height: 100%;
    width: 100%;
    position: absolute;
  }

  * {
    font-family: inherit;
    color: black;
  }

  .social-list {
    li {
    font-family: 'Font Awesome 5 Brands';

      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      background-color: $footer-primary;
      border-radius: 50%;

      i {

        color: $footer-bg;
      }
    }
  }

  .link-list {
    list-style: none;

    li {
      display: flex;
      align-items: center;
    }
  }

  a {
    text-decoration: underline;
  }
}