$primary-color: rgba(0, 102, 101, 0.9);
$font-color: rgb(252, 182, 133);


#content {
  #others {
    .cities {
      align-items: center;
      justify-content: flex-end;

      .city {
        border-left: gray 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.5rem;
          letter-spacing: 0.581016px;
          text-transform: capitalize;
        }

        p {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;

          /* or 127% */
          letter-spacing: 0.581016px;
          text-transform: capitalize;

          color: rgba(0, 0, 0, 0.62);
        }
      }
    }
  }

  #form {
    .heading {
      color: $primary-color;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 35.1898px;
      line-height: 48px;
    }

    .description {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
    }

    #submit-btn {
      border-color: rgb(28, 126, 19);
      color: rgb(28, 126, 19);
      background-color: rgba(255, 217, 191, 1);
    }
  }
}

#decorators {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  img {
    position: absolute;
  }

  .bg-topleft {
    left: 0;
  }

  .bg-topright {
    right: 0;
  }

  .bg-full {
    top: 0;
    right: 0;
  }
}