* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(0, 102, 101, 0.9);
  color: #fcb685;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  padding: 1rem 0;
}

nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

nav .brand-name {
  color: rgba(0, 102, 101, 0.9);
  font-family: Open Sans;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

nav #nav-links .active {
  border-bottom: 4.0217px solid rgba(0, 102, 101, 0.79);
}

nav #nav-links li a:hover {
  border-bottom: 4.0217px solid rgba(0, 102, 101, 0.79);
}

.links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links li {
  padding: 0 2.5rem;
}

.links li a {
  color: #fcb685;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.links li a:hover {
  outline: #bd855f;
}

.icon {
  display: none;
}

#content #others .cities {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#content #others .cities .city {
  border-left: gray 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content #others .cities .city h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.581016px;
  text-transform: capitalize;
}

#content #others .cities .city p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  /* or 127% */
  letter-spacing: 0.581016px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.62);
}

#content #form .heading {
  color: rgba(0, 102, 101, 0.9);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35.1898px;
  line-height: 48px;
}

#content #form .description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

#content #form #submit-btn {
  border-color: #1c7e13;
  color: #1c7e13;
  background-color: #ffd9bf;
}

#decorators {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#decorators img {
  position: absolute;
}

#decorators .bg-topleft {
  left: 0;
}

#decorators .bg-topright {
  right: 0;
}

#decorators .bg-full {
  top: 0;
  right: 0;
}
/*# sourceMappingURL=contactus.css.map */