{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blogs</title>
  <!-- bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <!-- fontawesome icons -->
  <script src="https://kit.fontawesome.com/fecc50ad8e.js" crossorigin="anonymous"></script>
  <!-- custom css -->
  <link rel="stylesheet" href="{%static "common/css/style.css"%}">
  <link rel="stylesheet" href="{%static "common/css/nav.css"%}">
  <link rel="stylesheet" href="{%static "blogandnews/css/blogandnews.css"%}">
</head>

<body>
  <nav>
    <div class="brand">
      <a href="/">
        <p class="brand-name">Kitchendotcom</p>
      </a>
    </div>
    <ul id="nav-links" class="links">
      <li>
        <a href="/aboutus">Aboutus</a>
      </li>
      <li>
        <a href="/blogandnews" class="active">Blog & news</a>
      </li>
      <li>
        <a href="/contactus">Contactus</a>
      </li>
    </ul>
    <div class="icon" onclick="navButton()">
      <i class="fa fa-bars"></i>
    </div>
  </nav>

  <div class="container" id="post-item">
    <h1 class="text-center">Eget accumsan consequat arcu vitae. Non vulputate diam sed tortor.</h1>
    <h5 class="text-center text-muted mt-3">ADMIN . 1 day ago</h5>
    <div class="row my-5">
      <div class="d-flex justify-content-center">
        <img class="img-fluid" src="{%static "blogandnews/img/blog.png"%}" alt="">
      </div>
    </div>
    <div class="container content">
      <p>
        Gravida pellentesque ut ipsum elit adipiscing. Dolor amet nunc vitae ultricies tempus pharetra et leo ultricies.
        Sit enim neque, feugiat at. Amet venenatis morbi sed condimentum aliquam aliquam. Lectus bibendum euismod
        pharetra, malesuada pulvinar. Nec commodo adipiscing tincidunt sed. Sodales eget vestibulum mauris placerat
        senectus. Eget rhoncus nullam mi convallis id gravida faucibus. Sed eu in magna ac fermentum sed. Senectus quam
        ut
        turpis arcu condimentum lacinia at in sed. Viverra sed placerat scelerisque elementum. Malesuada arcu
        consectetur
        ultricies neque at amet aliquet augue.
        Nunc donec amet elit a sed. At proin scelerisque ultrices semper in nisl iaculis semper. Dictum habitant at
        vestibulum volutpat sit commodo duis. Semper integer sit maecenas at dolor id sed. Commodo imperdiet nibh velit
        ornare placerat ac est hac viverra. Aenean erat gravida morbi nibh eget. Tristique convallis congue augue sem
        leo
        nunc eleifend felis, sed. Consequat tortor iaculis faucibus faucibus in. In tempus pellentesque vitae quisque
        etiam lobortis. Pulvinar felis vel et sed.
      </p>
      <div class="d-flex align-items-center justify-content-between">
        <i class="far fa-thumbs-up"></i>
        <i class="px-2 far fa-comment-dots"></i>
        <i class="ms-auto fas fa-share-alt"></i>
        <i class="px-2 far fa-bookmark"></i>
        <div></div>
      </div>
    </div>
  </div>

  <script src="{%static "common/js/nav.js"%}"></script>
</body>

</html>