<footer id="common-footer">
    <div class="container pt-5">

        <div class="row py-1 pt-5">
            <div class="col-lg-4 col-sm-6">
                <div class="row py-1">
                    <h4>
                        <a href="/">
                            Follow us on
                        </a>
                    </h4>
                </div>
                <div class="row py-1 ms-3">
                    <ul class="social-list list-inline row">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/kitchendotcom.in"><i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-twitter"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://api.whatsapp.com/send?phone=919140358473">
                                <i style="font-weight: bold" class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/kitchendesigner_vns/">
                                <i style="font-weight: bold" class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="row py-1">
                    <a href="/">
                        <h3>Kitchendotcom</h3>
                    </a>
                </div>
                <div class="row py-1">
                    <ul class="list-unstyled">
                        <div class="row py-1">
                            <li>
                                <a href="/aboutus">Aboutus</a>
                            </li>
                        </div>
                        <div class="row py-1">
                            <li>
                                <a href="/blogandnews">Blog&News</a>
                            </li>
                        </div>
                        <div class="row py-1">
                            <li>
                                <a href="/contactus">Contactus</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="row py-1">
                    <div class="col">
                        <h3>Get in Touch</h3>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col">
                            <div class="row my-1 py-0">
                                <p>
                                    Call Us
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-1 py-0">
                                <p>
                                    +91 9305281003
                                </p>
                            </div>
                            <div class="row my-1 py-0">
                                <p>
                                    +91 9140358473
                                </p>
                            </div>
                            <div class="row my-1 py-0">
                                <p>
                                    +91 8707482268
                                </p>
                            </div>
                        </div>
                </div>
                <div class="row py-1">
                    <div class="col">
						<p>
							Email Us
						</p>
					</div>
					<div class="col">
						<p>
							info@kitchendotcom.in
						</p>
					</div>
                </div>
            </div>
        </div>

        <div class="middle-row row py-1">
            <div class="col-sm-6">
                <h3>Locations</h3>
				<p>D65/245   Lahartara , Varanasi</p>
            </div>
            <div class="col-sm-6">
                <h3>Offerings</h3>
                <ul class="link-list">
                    <div class="row p-md-1">
                        <div class="col-sm-6">
                            <li>
                                <a href="/kitchen_price_steps">Kitchen Price Estimater</a>
                            </li>
                            <li><a href="/projects">Project Gallery</a></li>
                        </div>
                        <div class="col-sm-6">
                            <li>
                                <a href="/design_gallery">Design Gallery</a>
                            </li>
                        </div>
                    </div>

                </ul>
            </div>
        </div>

        <div class="row py-1">
            <div class="col-md-6">
                <p class="fw-bold">© 2021 Kitchendotcom.in All Rights Reserved</p>
            </div>
            <div class="col-md-6">
                <p>
                    <a href="https://www.racreators.com/">
                   		<strong>DESIGNED BY R A Creators</strong>
					</a>
                </p>
            </div>
        </div>

    </div>
</footer>