{% comment %} {% load tags %} {% endcomment %}

<nav>
    <div class="brand">
        <a href="/">
            <p class="brand-name">Kitchendotcom</p>
        </a>
    </div>
    <ul id="nav-links" class="links">
        <li>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </li>
        <li>
            <a href="/" {%if '/' == request.path  %} class="active" {%endif%}>Home</a>
        </li>
        <li>
            <a href="/aboutus" {%if '/aboutus' in request.path  %} class="active" {%endif%}>Aboutus</a>
        </li>
        <li>
            <a href="/blogandnews" {%if '/blogandnews' in request.path  %} class="active" {%endif%}>Blog&News</a>
        </li>
        <li>
            <a href="/contactus" {%if '/contactus' in request.path  %} class="active" {%endif%}>Contactus</a>
        </li>
    </ul>
    <div class="icon" onclick="navButton()">
        <i class="fa fa-bars"></i>
    </div>
</nav>

<script>
    function navButton() {
        let x = document.getElementById("nav-links");
        if (x.className === "links") {
            x.className += " responsive";
        } else {
            x.className = "links";
        }
    }

    function closeNav() {
        navButton();
    }
</script>