* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 0 0 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 3.5rem 10.5rem;
  p {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #006665;
  }
}

#details {
  display: flex;
  padding: 3.5rem 10.5rem;

  .content {
    margin-right: 5rem;
  }

  .project-name {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #006665;

    margin-bottom: 4rem;
    border-left: 0.4rem solid #ffdabf;
    padding-left: 2rem;
  }
  .project-details {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #006665;
  }

  .project-img {
    img {
      height: 100%;
    }
  }
}

#progress {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 3.5rem 20rem;

  .state {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 50%;

    height: 10rem;
    width: 10rem;
    svg {
      height: 50%;

      path {
        fill: gray;
      }
    }
  }
  .line {
    height: 5px;
    flex-grow: 1;
    background-color: gray;
  }
  .complete {
    border: none;
    background-color: #006665;
    svg {
      path {
        fill: white;
      }
    }
  }
}

footer {
  padding: 3.5rem 10.5rem;

  button {
    background: rgba(0, 102, 101, 0.83);
    border: 3px solid rgba(60, 121, 118, 0.91);
    box-shadow: 0px 10px 10px rgba(78, 133, 130, 0.24);
    border-radius: 1rem;

    padding: 0.8rem 1.6rem;
    text-align: center;

    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffdabf;
    }
  }
}
