* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Playfair Display;

  //   background: url("/design\ gallery/img/bg_1.png");
  // background-repeat: no-repeat;
  // background-size: cover;
}
.line-row {
  display: flex;
  align-items: center;
}
#heading {
  background-image: url("/static/design gallery/img/gallery_2.svg");
  background-repeat: no-repeat;
  background-size: 25rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 1rem;
  padding-top: 4rem;
  .line {
    height: 100%;
    width: 0px;
    border: 5px solid #006665;
    margin-right: 1rem;
    border-radius: 15px;
    overflow: hidden;
  }
  .display-1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }
}

#first {
  background-image: url("/static/design gallery/img/section_1_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 589px;

  .punch-line {
    color: #368685;
    position: relative;
    align-self: flex-end;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #368685;
  }
}

#second {
  background-color: rgba(0, 102, 101, 0.79);
  color: white;

  height: 60vh;

  // p {
  //   margin-bottom: 15rem;
  // }

  .decorators {
    position: absolute;
    width: 100%;
    height: 60vh;
    margin: -3rem;
    .g1 {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 60vh;
    }
    img {
      width: 20vw;
      max-width: min-content;
    }
    .item-0 {
      position: absolute;
      right: 0;
      transform: translate(40%, -20%);
    }
    .item-1,
    .item-2 {
      position: absolute;
      bottom: 0;
      transform: translate(0%, 50%);
    }
    .item-2 {
      right: 0;
    }
  }

  .heading {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
  .content {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
}

#third {
  background-color: rgba(0, 102, 101, 0.13);

  .decorators {
    position: absolute;
    margin: -3rem;
    svg {
      // display: block;
      // margin: -3rem;
      // margin-bottom: -20rem;
      width: 100vw;
    }
  }
  .text-content {
    position: relative;
    .heading {
      font-family: Playfair Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
    }
    .content {
      font-family: Playfair Display;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
  }
  .card {
    border: 4px solid #006665;
    border-radius: 20px 20px 0 0;

    img {
      border: 1px solid #006665;
    }
  }
}

#fourth {
  .bg-holder {
    display: none;
    position: absolute;
    bottom: 0;
    svg {
      width: 100vw;
      overflow: hidden;
      transform: translate(0, 50%);
    }
  }

  .carousel-indicators {
    position: relative;
    top: 30px;
  }

  // .page {
  //   margin-left: auto;
  //   // margin-right: auto;
  //   width: max-content;
  // }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 270px;
    align-items: center;
    justify-content: center;
    // overflow-x: hidden;
    column-gap: 3rem;
    row-gap: 3rem;

    // background-image: url("../img/gallery_bg.svg");
    // background-repeat: no-repeat;
    // background-position: ;

    img,
    svg {
      background-color: transparent;
    }
  }

  .decorators {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    margin-bottom: -8rem;

    .item-0 {
      position: relative;
      left: -200px;
      z-index: -1;
    }
    .item-1 {
      img {
        max-width: 30vw;
      }
    }
    .item-2 {
      position: absolute;
    }
  }
}
