/* Price_Estimator */

body {
    background-color: rgba(0, 102, 101, 0.93);
    /* min-height: 100vh; */
}

#steps {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/assets/img/mkitchen2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 30px 0px yellow);
}

#button {
    border: white 4px solid;
    border-radius: 12px;
    padding: 10px 40px 10px 40px;
}

#button:hover {
    box-shadow: 2px 2px white;
}

/* Teal Bg, White Container */

#main-theme {
    /* background-image: url('/assets/img/bg-image.jpg'); */
    /* position: relative; */
    /* background-color: rgba(0, 102, 101, 0.93); */
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: drop-shadow(0px 60px 0px white); */
    /* z-index: 5; */
}

#layout {
    /* background-image: url('/assets/img/bg-image.jpg'); */
    /* background-color: rgba(0, 102, 101, 0.93); */
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: drop-shadow(0px 60px 0px white); */
}

#select {
    background-color: white;
    color: teal;
    border-radius: 25px;
}

.white-container {
    background-color: white;
    color: black;
    border-radius: 25px;
}

/* Inputs */


input[type='radio']:after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid teal;
}

input[type='radio']:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="teal" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/></svg>');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    visibility: visible;
}


input[type='checkbox']:after {
    width: 20px;
    height: 20px;
    top: -2px;
    left: -3px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid teal;
}

input[type='checkbox']:checked:after {
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="teal" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/></svg>');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    visibility: visible;
}

/* Select_Layout */

#layout .card {
    border: 2px solid teal;
}

#layout .card:hover {
    border: 5px solid teal;
    box-shadow: 5px 5px 10px teal;
}

#layout .card:hover .card-footer {
    border-top: 2px solid black;
}

#layout .card-footer {
    border-top: 2px solid grey;
}

/* Customer_Details */

#details {
    background-image: linear-gradient(white, white);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 30px 0px teal);
}

#kitchen1 {
    box-shadow: -20px 20px teal;
}

/* Select Shapes(L, U, Straight, Parallel)  */

#shapes {
    background-color: lemonchiffon;
    color: teal;
    border-radius: 25px;
}

/* Checbox over an image */

.relative {
    position: relative;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Colors */
.text-teal {
    color: teal;
}

.text-teal:hover {
    color: teal;
}


.bg-teal {
    background-color: teal;
}

.bg-paleturquoise {
    background-color: paleturquoise;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 0.2;
}

.opacity-2 {
    opacity: 0.4;
}

.opacity-3 {
    opacity: 0.6;
}

.opacity-4 {
    opacity: 0.8;
}

.opacity-5 {
    opacity: 1;
}


.border-teal {
    border: 3px solid teal;
}

.btn-opacity {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), teal, rgba(255, 255, 255, 0.2));
}

.dashed {
    border: dashed;
}

#decorators {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

#decorators img {
    position: absolute;
    height: 20vh;
}

#decorators .top-left {
    top: 0;
    left: 0;
    height: 60vh;
    transform: translate(-50%, -50%);
}

#decorators .top-right {
    top: 0;
    right: 0;
}

#decorators .bottom-left {
    bottom: 0;
    left: 0;
    rotate: -90deg;
}

#decorators .bottom-right {
    bottom: 0;
    right: 0;
    rotate: 90deg;
}

#main-content {
    position: relative;
    z-index: 10;
}