{% extends 'base.html' %}

{% load static %}

{% block title %} Build your own Package {% endblock title %}  

{% block body %}

<div id="main-theme"  >
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <form method="POST">

            {% csrf_token %}

        <div class="container-lg text-center px-3 my-3 py-4 justify-content-center col-lg-9 col-sm-12" id="select">
            
            <div class="row p-3 gy-5 justify-content-center">
                <div class="col-lg-9 px-5 col-sm-12"><h1>Now refer to the chosen layout here and add the measurement</h1></div>
                <div class="col-lg-5 border-teal col-md-8 col-sm-12 white-container p-3 text-start">
                    <div class="form-check float-start">
                        <input class="form-check-input" type="radio" name="ownpackage" id="hdhmr" value="HDHMR" required>
                    </div>
                    <h3 class="ps-5">HDHMR <a href="/build_package/hdhmr" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a> </h3>
                    <p class="ps-5 lead fs-5">Has high strength and density, and a solid screw-holding capacity.</p>
                </div>
    
                <div class="offset-lg-1 col-lg-5 border-teal col-md-8 col-sm-12 white-container p-3 text-start">
                    <div class="form-check float-start">
                        <input class="form-check-input" type="radio" name="ownpackage" id="mrply" value="MR Plywood">
                    </div>
                    <h3 class="ps-5">MR Plywood <a href="/build_package/mrplywood" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a></h3>
                    <p class="ps-5 lead fs-5">Is moisture and termite resistant and does not wear off easily.</p>
                </div>
    
                <div class="col-lg-5 border-teal col-md-8 col-sm-12 white-container p-3 text-start">
                    <div class="form-check float-start">
                        <input class="form-check-input" type="radio" name="ownpackage" id="bwrply" value="BWR Plywood">
                    </div>
                    <h3 class="ps-5">BWR Plywood <a href="/build_package/bwrplywood" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a></h3>
                    <p class="ps-5 lead fs-5">Is water resistant and works well in areas prone to water exposure.</p>
                </div>
    
                <div class="offset-lg-1 col-lg-5 border-teal col-md-8 col-sm-12 white-container p-3 text-start">
                    <div class="form-check float-start">
                        <input class="form-check-input" type="radio" name="ownpackage" id="bwpply" value="BWP Plywood">
                    </div>
                    <h3 class="ps-5">BWP Plywood <a href="/build_package/bwpplywood" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a></h3>
                    <p class="ps-5 lead fs-5">Is waterproof and withstands prolonged exposure to water and moisture.</p>
                </div>
               
            </div>
        </div>
        
        <div class="row container-lg pb-3 justify-content-center text-center g-3">
            <div class="offset-lg-2 col-lg-2 text-md-center col-md-12">
                <a href="/select_package" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-4 col-lg-2 text-md-center col-md-12">
                <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>   
            </div>
        </div>

    </form>

    </div>
</div>

{% endblock body %}