{% extends 'base.html' %}

{% load static %}

{% block title %} Fill Details {% endblock title %}

{% block body %}

<div id="details">
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-teal">Kitchen Price Estimate Steps</h1>
        </div>

        <div class="row justify-content-lg-end container-lg justify-content-sm-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-lightgrey">
                <div class="row px-3 g-0">
                    <div class="col-lg-8 col-md-6 py-md-5">
                        <p class="h5 fw-bold">Please put up your details to get the estimates.</p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <img src="{%static "assets/img/Login-Image.png" %}" class="img-fluid h-100" alt="Login Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-lg p-sm-5 p-lg-0 justify-content-sm-center">
            <div class="col-lg-5 col-md-12 d-none d-sm-block">
                <img src="{%static "assets/img/Kitchen-1.png"%}" class="img-fluid h-100" id="kitchen1" alt="Kitchen">
            </div>
            <div class="col-lg-7 col-sm-12 p-1 p-sm-2 p-md-5 text-start">
                <form method="POST">
                    {% csrf_token %}
                    <div class="ms-md-5 my-md-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" pattern="[0-9]{10}" name="phone" placeholder="Enter Phone Number"
                            required>
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"
                            required>
                        <label for="location" class="form-label">Location</label>
                        <select class="form-control" required id="location" name="location">
                            <option selected disabled>Choose Location</option>
							<option value="Varanasi">Varanasi</option>
                            <option value="Chandauli">Chandauli</option>
                            <option value="Mirzapur">Mirzapur</option>
                            <option value="Sonbhadra">Sonbhadra</option>
                            <option value="Ayodhya">Ayodhya</option>
                            <option value="Prayagraj">Prayagraj</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Bhadohi">Bhadohi</option>
                            <option value="Gorakhpur">Gorakhpur</option>
                            <option value="Sonbhadra">Sonbhadra</option>
                            <option value="Azamgarh">Azamgarh</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Jaunpur">Jaunpur</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

            </div>

            <div class="row container-lg p-3 m-3 justify-content-center text-center g-3">
                <div class="offset-lg-2 col-lg-2 text-md-center col-md-12">
                    <a href="/select_layout" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded"
                        role="button">
                        <h4>Back</h4>
                    </a>
                </div>
                <div class="offset-lg-4 col-lg-2 text-md-center col-md-12">
                    <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" role="button"
                        type="submit">
                        <h4>Next</h4>
                    </button>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock body%}