{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Design Gallery</title>


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- custom css -->
  <link rel="stylesheet" href="{%static "common/css/style.css"%}">
  <link rel="stylesheet" href="{%static "design gallery/css/style.css"%}" />
  <!-- fontawesome icons -->
  <script src="https://kit.fontawesome.com/fecc50ad8e.js" crossorigin="anonymous"></script>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins&display=swap"
    rel="stylesheet" />
</head>

<body>

  <div class="px-4">
    {% include 'includes/nav.html' %}
  </div>

  <!-- heading -->
  <section id="heading">
    <div class="line mx-3"></div>
    <h1 class="display-1">Design Gallery</h1>
  </section>

  <section id="first" class="d-flex flex-column justify-content-center">
    <!-- <img src="{% static "/design gallery/img/section_1_bg.png"%}" alt="design" /> -->
    <div class="punch-line pb-5 d-flex flex-column justify-content-end">
      <p class="text-center mb-1">Discover your Modular</p>
      <p class="text-center">Kitchen</p>
    </div>
  </section>

  <section id="second" class="p-5">
    <div class="decorators">
      <div class="g1">
        <img class="item-0" src="{%static "design gallery/img/Doodle Dots.svg"%}" alt="" />
        <img class="item-1" src="{%static "design gallery/img/Doodle Dots.svg"%}" alt="" />
      </div>
      <div class="g2">
        <img class="item-2" src="{%static "design gallery/img/Doodle Dots  dark.svg"%}" alt="" />
      </div>
    </div>
    <div class="row position-relative" style="z-index: 5;">
      <div class="col-md-6">
        <p class="heading">
          How our Professinal<br />
          Designers work?
        </p>
        <p class="content my-5" style="max-width:800px">
          The designers at KitcheDotCom hold expertise in their respective fields, and have immense experience of years
          of
          designing. They are firmly guided by the principles of “Coordination and Consultation” – Coordination among
          themselves and other workers, so as to come up with the best output and Consultation with the client to
          provide
          them the best of what they desire. Being in a creative profession for so many years, they come up with
          innovative
          designs every time ,a step ahead always. Their immense creativity have gained them and their designs a firm
          foothold in the industry.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img class="img-fluid" src="{%static "design gallery/img/Rectangle 250.png"%}" alt="">
      </div>
    </div>
  </section>

  <section id="third" class="p-2 p-sm-3 p-md-5">
    <div class="decorators">
      <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
        class="transition duration-300 ease-in-out delay-150">
        <path
          d="M 0,500 C 0,500 0,250 0,250 C 114.21428571428572,264.2142857142857 228.42857142857144,278.42857142857144 352,295 C 475.57142857142856,311.57142857142856 608.5000000000001,330.49999999999994 745,305 C 881.4999999999999,279.50000000000006 1021.5714285714284,209.57142857142858 1138,193 C 1254.4285714285716,176.42857142857142 1347.2142857142858,213.21428571428572 1440,250 C 1440,250 1440,500 1440,500 Z"
          stroke="none" stroke-width="0" fill="#fff" transform="rotate(-180 720 250)"></path>
      </svg>
    </div>

    <div class="text-content">
      <p class="heading">Know your kitchen layout</p>
      <p class="my-5 content">
        Understanding a kitchen layout is the first step to planning a perfect
        kitchen.<br />Your kitchen would have one of the following layouts.
      </p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1 m-sm-1 m-md-5">
          <img src="{% static "/design gallery/img/L-shaped.png"%}" class="card-img-top" alt="..." />
          <div class="card-body p-4 pb-5">
            <div class="card-title"><strong>L-Shape Kitchen</strong></div>
            <p class="card-text">
              Enim gravida fames viverra tincidunt. Neque neque.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1 m-sm-1 m-md-5">
          <img src="{% static "/design gallery/img/straight-shaped.png"%}" class="card-img-top" alt="..." />
          <div class="card-body p-4 pb-5">
            <div class="card-title">
              <strong>Straight Shape Kitchen</strong>
            </div>
            <p class="card-text">
              Enim gravida fames viverra tincidunt. Neque neque.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1 m-sm-1 m-md-5">
          <img src="{% static "/design gallery/img/u-shaped.png"%}" class="card-img-top" alt="..." />
          <div class="card-body p-4 pb-5">
            <div class="card-title"><strong>U-Shape Kitchen</strong></div>
            <p class="card-text">
              Enim gravida fames viverra tincidunt. Neque neque.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1 m-sm-1 m-md-5">
          <img src="{% static "/design gallery/img/parallel-shaped.png"%}" class="card-img-top" alt="..." />
          <div class="card-body p-4 pb-5">
            <div class="card-title">
              <strong>Parallel Shape Kitchen</strong>
            </div>
            <p class="card-text">
              Enim gravida fames viverra tincidunt. Neque neque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="fourth" class="mt-2 py-5">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide align-center justify-content-center"
      data-bs-ride="carousel">
      <div class="carousel-inner"></div>
      <div class="carousel-indicators"></div>
    </div>
  </section>

  {% include 'includes/footer.html' %}


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <!-- slide image js -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- sec 4th dynamic image render -->
  <script src="{%static "/design gallery/js/pages.js"%}"></script>
</body>

</html>