{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitchendotcom | Home</title>
    <link rel="stylesheet" href="{%static "/landing page/style.css" %}" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/fecc50ad8e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div class="brand">
        <img src="{%static "landing page/img/nav_lamp.png" %}" alt="" />
        <a href="/"> <p class="brand-name">Kitchendotcom</p> </a>
      </div>
      <ul id="nav-links" class="links">
        <li>
          <a href="">Aboutus</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
        <li>
          <a href="">Contactus</a>
        </li>
      </ul>
      <div class="icon" onclick="navButton()">
        <i class="fa fa-bars"></i>
      </div>
    </nav>

    <section id="punch-line">
      <p>We Help You To Make Your Modular Kitchen</p>
    </section>

    <section id="contents">
      <div class="content">
        <p class="heading">
          <a href="/kitchen_price_steps">Kitchen Price Estimator </a>
        </p>
        <p class="description">
          Risus facilisis mauris, vestibulum eget id a. Amet vestibulum nibh at
          et semper id rutrum curabitur.<br />Turpis a ut aliquam posuere quam
          fringilla.
        </p>
      </div>
      <div class="content">
        <p class="heading">
          <a href="project_gallery"> Project Gallery </a>
        </p>
        <p class="description">
          Risus facilisis mauris, vestibulum eget id a. Amet vestibulum nibh at
          et semper id rutrum curabitur.<br />Turpis a ut aliquam posuere quam
          fringilla.
        </p>
      </div>
      <div class="content">
        <p class="heading">
          <a href="design_gallery"> Design Gallery </a>
        </p>
        <p class="description">
          Risus facilisis mauris, vestibulum eget id a. Amet vestibulum nibh at
          et semper id rutrum curabitur.<br />Turpis a ut aliquam posuere quam
          fringilla.
        </p>
      </div>
    </section>

    <footer>
      <ul>
        <li class="icon">
          <a href="#"><i class="fab fa-facebook-f"></i> </a>
        </li>
        <li class="icon">
          <a href="#"><i class="fab fa-twitter"></i> </a>
        </li>
        <li class="icon">
          <a href="#">
            <i style="font-weight: bold" class="fab fa-whatsapp"></i>
          </a>
        </li>
        <li class="icon">
          <a href="#">
            <i style="font-weight: bold" class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </footer>

    <section id="decorators">
      <div class="bg-left">
        <img src="{%static "landing page/img/bg_graphics_C.svg" %}" alt="" />
      </div>
      <div class="bg-right">
        <svg
          width="741"
          height="900"
          viewBox="0 0 741 900"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Ellipse 91"
            opacity="0.75"
            d="M1464 450C1464 592.63 1382.25 721.856 1249.88 815.465C1117.51 909.072 934.592 967 732.5 967C530.408 967 347.49 909.072 215.122 815.465C82.7506 721.856 1 592.63 1 450C1 307.37 82.7506 178.144 215.122 84.5352C347.49 -9.07153 530.408 -67 732.5 -67C934.592 -67 1117.51 -9.07153 1249.88 84.5352C1382.25 178.144 1464 307.37 1464 450Z"
            stroke="#FFD9BF"
            stroke-width="2"
          />
        </svg>
        <svg
          width="707"
          height="900"
          viewBox="0 0 707 900"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.75"
            d="M1464 464C1464 778.031 1136.74 1033 732.5 1033C328.256 1033 1 778.031 1 464C1 149.969 328.256 -105 732.5 -105C1136.74 -105 1464 149.969 1464 464Z"
            stroke="#FFD9BF"
            stroke-width="2"
          />
        </svg>
        <img src="{%static "landing page/img/bg.png" %}" alt="" />
      </div>
    </section>

    <script>
      function navButton() {
        var x = document.getElementById("nav-links");
        if (x.className === "links") {
          x.className += " responsive";
        } else {
          x.className = "links";
        }
      }
    </script>
  </body>
</html>
