{% extends 'base.html' %}

{% load static %}

{% block title %} Estimate your Kitchen Price {% endblock title %}  

{% block body %}


<div id="steps" >
    <div class="container p-5 text-light">
        <h1 class="ps-5">Estimate your Kitchen Price in Few Simple Steps</h1>
        <div class="row m-5">
            <div class="offset-xl-1 col-xl-2 offset-md-1 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark" id="step1">
                    <img src="{%static "/assets/img/step1.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 1">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Select shape & area of kitchen
                </div>
            </div>

            <div class="offset-xl-2 col-xl-2 offset-md-2 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark" id="step2">
                    <img src="{%static "/assets/img/step2.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 2">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Choose Material and Finishes
                </div>
            </div>

            <div class="offset-xl-2 col-xl-2 offset-md-2 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark">
                    <img src="{%static "/assets/img/step3.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 3">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Pick Accessories
                </div>
            </div>

            <div class="offset-xl-2 col-xl-2 offset-md-2 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark">
                    <img src="{%static "/assets/img/step4.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 4">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Opt the services as per your need
                </div>
            </div>

            <div class="offset-xl-2 col-xl-2 offset-md-1 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark"> 
                    <img src="{%static "/assets/img/step5.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 5">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Get your quote
                </div>
            </div>

            <div class="offset-xl-2 col-xl-2 offset-md-2 col-md-4 offset-2 col-8">
                <div class="card bg-transparent text-dark">
                    <img src="{%static "/assets/img/step6.png" %}" class="card-img rounded-circle p-lg-3" alt="Step 6">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="text-center">
                    Select Accessories
                </div>
            </div>

            <div class="text-center nav-item p-5 my-xl-4 my-xxl-2">
                <a href="#" class="btn btn-lg bg-transparent text-light" role="button" id="button">Get Started</a>                        
            </div>

        </div>
        
    </div>
</div>
<!-- Svg.js -->
<script src="/assets/js/svg.js" {%static "%}"></script>

{% endblock body %}