{% extends 'base.html' %}

{% load static %}

{% block title %} Select On-site Services {% endblock title %}  

{% block body %}

<div id="layout" >
    <div class="p-3">

        <div class="ps-md-5 pb-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <form method="POST">

            {% csrf_token %}

        <div class="container-lg text-center p-3 justify-content-center col-lg-7 col-sm-12 text-center" id="select">
            <div class=""><h3>Select the on-site services you would require.</h3>
            
                <p class="h5 text-dark py-3">Price will not be added in the Estimates</p>

            </div>
            
            <div class="row g-3 p-3" id="layout-select">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#service1')">
                            <img src="{%static "/assets/img/Painting.png" %}" class="card-img img-thumbnail relative" alt="Painting">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="service[]" id="service1" value="Painting">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Painting</h5>
                          </div>
                      </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#service2')">
                            <img src="{%static "/assets/img/Plumbing.png" %}" class="card-img img-thumbnail relative" alt="Plumbing">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="service[]" id="service2" value="Plumbing">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Plumbing</h5>
                          </div>
                      </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#service3')">
                            <img src="{%static "/assets/img/Electrical.png" %}" class="card-img img-thumbnail relative" alt="Electrical">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="service[]" id="service3" value="Electrical">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Electrical</h5>
                          </div>
                      </div>
                </div>
                <div class="offset-lg-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#service4')">
                            
                            <img src="{%static "/assets/img/Platform.png" %}" class="card-img img-thumbnail relative" alt="Platform">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="service[]" id="service4" value="Platform">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Platform</h5>
                          </div>
                      </div>
                </div>

                <div class="offset-lg-1 col-lg-3 offset-md-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#service5')">
                        
                        <img src="{%static "/assets/img/Dado.png" %}" class="card-img img-thumbnail relative" alt="Dado">
                        <div class="form-check topright">
                            <input class="form-check-input"  type="checkbox" name="service[]" id="service5" value="Dado">
                        </div>
                        <div class="card-body text-dark p-0">
                            <p class="fw-bold">Dado</h5>
                        </div>
                      </div>
                </div>

        </div>

    </div>

    <div class="row container-lg m-3 pb-3 text-center gy-3">
        <div class="offset-lg-2 col-lg-3 text-md-center col-md-12">
            <a href="/select_accessories" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
        </div>
        <div class="offset-lg-3 col-lg-3 text-md-center col-md-12">
            <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>   
        </div>
    </div>

    </form>

  </div>
</div>
{% endblock body %}