{% extends 'base.html' %}

{% load static %}

{% block title %} Select Kitchen Layout {% endblock title %}  

{% block body %}

<div id="layout" class="h-100 img-fluid" style="background-image: url('{% static "/assets/img/bg-image.jpg" %}');">
    <div class="p-5">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <form method="POST">

          {% csrf_token %}

        <div class="container-lg text-center offset-lg-1 col-lg-10 col-sm-12 px-3 my-3" id="select">
            <h2 class="">Select the layout of your Kitchen</h2>
            <div class="row g-3 m-5" id="layout-select">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check float-end">
                                <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout1" value="L" required >
                            </div>
                            <img src="{%static "assets/img/L-Shape-Kitchen-Layout.png" %}" class="card-img img-fluid" alt="L-Shaped Kitchen">
                          <div class="card-footer text-dark">
                            <i class="bi bi-dash-lg"></i>
                            <p class="card-title fw-bold">L-Shaped Design</h5>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check float-end">
                                <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout2" value="U">
                            </div>
                            <img src="{%static "assets/img/U-Shape-Kitchen-Layout.png" %}" class="card-img img-fluid" alt="U-Shaped Kitchen">
                          <div class="card-footer text-dark">
                            <i class="bi bi-dash-lg"></i>
                            <p class="card-title fw-bold">U-Shaped Design</h5>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check float-end">
                                <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout3" value="S">
                            </div>
                            <img src="{%static "assets/img/Straight-Kitchen-Layout.png" %}" class="card-img img-fluid" alt="Straight Shaped Kitchen">
                          <div class="card-footer text-dark">
                            <i class="bi bi-dash-lg"></i>
                            <p class="card-title fw-bold">Straight Shaped Design</h5>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check float-end">
                                <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout4" value="P">
                            </div>
                            <img src="{%static "assets/img/Parallel-Kitchen.png" %}" height="400" class="card-img img-fluid" alt="Parallel Shaped Kitchen">
                          <div class="card-footer text-dark">
                            <i class="bi bi-dash-lg"></i>
                            <p class="card-title fw-bold">Parallel Shaped Design</h5>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
            
            <div class="row m-3 p-3 text-center g-3">
                <div class="col-md-3 text-md-start col-sm-12">
                    <a href="/" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
                </div>
                <div class="offset-md-6 col-md-3 text-md-end col-sm-12">
                    <button class="btn btn-lg bg-teal text-light px-5 py-2 rounded" role="button" type="submit"><h4>Next</h4></button>   
                </div>
            </div>
            </form>
        </div>

    </div>
</div>

{% endblock body %}