{% extends 'base.html' %}

{% load static %}

{% block title %} Select Appliances {% endblock title %}  

{% block body %}

<div id="layout" >
    <div class="p-3">

        <div class="ps-md-5 pb-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <form method="POST">

            {% csrf_token %}

        <div class="container-lg text-center p-3 justify-content-center col-lg-7 col-sm-12 text-center" id="select">
            <div class=""><h3>Here comes the appliances. Your Pick?</h3>
            
                <p class="h5 text-dark py-3">Price will not be added in the Estimates</p>

            </div>
            
            <div class="row g-3 p-3 pe-lg-5 ps-lg-0 justify-content-center" id="layout-select">
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance1')">
                            <img src="{%static "/assets/img/Hob.png" %}" class="card-img img-thumbnail relative" alt="Hob">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="appliance[]" id="appliance1" value="Hob">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Hob</h5>
                          </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance2')">
                            <img src="{%static "/assets/img/Chimney.png" %}" class="card-img img-thumbnail relative" alt="Chimney">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="appliance[]" id="appliance2" value="Chimney">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Chimney</h5>
                          </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance3')">
                            <img src="{%static "/assets/img/Faucets.png" %}" class="card-img img-thumbnail relative" alt="Faucets & Sink">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="appliance[]" id="appliance3" value="Faucets & Sink">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Faucets & Sink</h5>
                          </div>
                      </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance4')">
                            
                            <img src="{%static "/assets/img/BI_Microwave.png" %}" class="card-img img-thumbnail relative" alt="Built In Microwave">
                            <div class="form-check topright">
                                <input class="form-check-input" type="checkbox" name="appliance[]" id="appliance4" value="Microwave">
                            </div>
                          <div class="card-body text-dark p-0">
                            <p class="fw-bold">Built In Microwave</h5>
                          </div>
                      </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance5')">
                        
                        <img src="{%static "/assets/img/BI_Oven.png" %}" class="card-img img-thumbnail relative" alt="Built In Oven">
                        <div class="form-check topright">
                            <input class="form-check-input"  type="checkbox" name="appliance[]" id="appliance5" value="Oven">
                        </div>
                        <div class="card-body text-dark p-0">
                            <p class="fw-bold">Built In Oven</h5>
                        </div>
                      </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" onclick="checkbox_check('#appliance6')">
                        
                        <img src="{%static "/assets/img/Refrigerator.png" %}" class="card-img img-thumbnail relative" alt="Refrigerator">
                        <div class="form-check topright">
                            <input class="form-check-input"  type="checkbox" name="appliance[]" id="appliance6" value="Refrigerator">
                        </div>
                        <div class="card-body text-dark p-0">
                            <p class="fw-bold">Refrigerator</h5>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="row container-lg pb-3 m-3 text-center gy-3">
            <div class="offset-lg-2 col-lg-3 text-md-center col-md-12">
                <a href="/select_services" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-3 col-lg-3 text-md-center col-md-12">
                <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>     
            </div>
        </div>

    </form>

   </div>
</div>
{% endblock body %}