{% extends 'base.html' %}

{% load static %}

{% block title %} Select Finishes {% endblock title %}  

{% block body %}

<div id="main-theme"  >
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  
        
        <form method="POST">

            {% csrf_token %}

        <div class="text-center justify-content-center col-sm-12 p-3">
            
            <div class="row p-3 gx-3 gy-3 justify-content-center">
                <div class="col-lg-6 border-teal col-md-10 col-sm-12 white-container p-3 text-start">
                    <div class="form-check float-start">
                        <input class="form-check-input" type="radio" name="finish" id="laminate" value="Laminate" required> 
                    </div>
                    <h3 class="ps-5">Laminate <a href="/select_finish" class="text-decoration-none"><span class="float-end"><i class="bi bi-arrow-return-left"></i></span></a> </h3>
                    <p class="ps-5 lead fs-5">Is a smooth, durable finish which gives a clean and rich look.</p>
                    <div class="row justify-content-center">
                        <div class="col-10 p-3">
                            <img src="{%static "/assets/img/Laminate.png" %}" class="img-fluid w-100" alt="Laminate">
                        </div>
                    </div>
                    <div class="row justify-content-center text-start p-3">
                        <div class="col-2 fw-bold">Pro Tip</div>
                        <div class="col-1 text-end">:</div>
                        <div class="col-7">Going for that muted, smooth look for your kitchen? This one’s for you.</div>
                    </div>
                </div>
    
                <div class="offset-lg-1 col-lg-4 col-md-10 col-sm-12">
                    <div class="row g-4">
                        <div class="white-container p-3 text-start">
                            <div class="form-check float-start">
                                <input class="form-check-input" type="radio" name="finish" id="pvclaminate" value="PVC Laminate">
                            </div>
                            <h3 class="ps-5">PVC Laminate <a href="/select_finish/pvclaminate" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a> </h3>
                            <p class="ps-5 lead fs-5">Has a lustrous surface that enhances your modular kitchen.</p>
                        </div>
    
                        <div class="white-container p-3 text-start">
                            <div class="form-check float-start">
                                <input class="form-check-input" type="radio" name="finish" id="asacrylic" value="Anti-scratch Acrylic">
                            </div>
                            <h3 class="ps-5">Anti-scratch Acrylic <a href="/select_finish/asacrylic" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a> </h3>
                            <p class="ps-5 lead fs-5">Is an elegant, reflective, glossy finish that is scratch resistant.</p>
                        </div>
    
                        <div class="white-container p-3 text-start">
                            <div class="form-check float-start">
                                <input class="form-check-input" type="radio" name="finish" id="glossypu" value="Glossy PU">
                            </div>
                            <h3 class="ps-5">Glossy PU <a href="/select_finish/glossypu" class="text-decoration-none"><span class="float-end"><i class="bi bi-info-circle"></i></span></a> </h3>
                            <p class="ps-5 lead fs-5">Comes with a slick look, high durability, and a polished finish.</p>
                        </div>
    
                    </div>
                </div>
    
               
            </div>
        </div>
        
        <div class="row container-lg py-5 justify-content-center text-center g-3">
            <div class="offset-lg-2 col-lg-2 text-md-center col-md-12">
                <a href="/select_countertop" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-4 col-lg-2 text-md-center col-md-12">
                <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>    
            </div>
        </div>

    </form>

    </div>
</div>
{% endblock body %}