{% extends 'base.html' %}

{% load static %}

{% block title %} Select Full Ceiling Cabinets {% endblock title %}  

{% block body %}

<div id="main-theme"  >
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <div class="container-lg text-center px-3 my-3 pt-4 pb-5 justify-content-center col-lg-8 col-sm-12" id="select">
            <div class="p-2"><h1>Which type of Cabinets are you looking for?</h1></div>
            <div class="row p-3 justify-content-center">

                <div class="container-lg col-lg-6 col-sm-12 p-3 text-dark">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="cabinet_type" id="fc_cabinet">
                        </div>
                        <h3 class="px-5 text-start">Full Ceiling Cabinets</h3>
                    </a>   
                </div>

                <div class="container-lg col-lg-6 col-sm-12 p-3">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="cabinet_type" id="loft">
                        </div>
                        <h3 class="px-5 text-start">Loft</h3>
                    </a>   
                </div>

                <div class="container-lg col-lg-6 col-sm-12 p-3">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="cabinet_type" id="no">
                        </div>
                        <h3 class="px-5 text-start">NO</h3>
                    </a>   
                </div>

            </div>
            
     
            

        </div>

        <div class="row container-lg p-3 m-3 pt-5 text-center gy-3">
            <div class="offset-lg-1 col-lg-4 text-md-center col-md-12">
                <a href="#" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-3 col-lg-4 text-md-center col-md-12">
                <a href="#" class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" role="button"><h4>Next</h4></a>   
            </div>
        </div>

    </div>
</div>
{% endblock body %}