{% extends 'base.html' %}

{% load static %}

{% block title %} Select Kitchen Layout {% endblock title %}

{% block body %}

<div id="layout">
  <div class="p-2 p-md-5">

    <div class="ps-md-5">
      <h1 class="text-light">Kitchen Price Estimate Steps</h1>
    </div>

    <form method="POST">

      {% csrf_token %}

      <div class="container-lg text-center col-lg-10 col-sm-12" id="select">
        <div class="row pt-4 my-4">
          <h2 class="">Select the layout of your Kitchen</h2>
        </div>
        <div class="row" id="layout-select">
          <div class="col-lg-3 p-2 col-md-6">
            <div class="card" onclick="check('#kitchenLayout1')">
              <div class="card-body">
                <div class="form-check float-end">
                  <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout1" value="L-Shaped"
                    required>
                </div>
                <img src="{%static "assets/img/L-Shape-Kitchen-Layout.png" %}" class="card-img img-fluid"
                  alt="L-Shaped Kitchen">
                <div class="card-footer text-dark">
                  <i class="bi bi-dash-lg"></i>
                  <p class="card-title fw-bold">L-Shaped Design</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 p-2 col-md-6">
            <div class="card" onclick="check('#kitchenLayout2')">
              <div class="card-body">
                <div class="form-check float-end">
                  <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout2"
                    value="U-Shaped">
                </div>
                <img src="{%static "assets/img/U-Shape-Kitchen-Layout.png" %}" class="card-img img-fluid"
                  alt="U-Shaped Kitchen">
                <div class="card-footer text-dark">
                  <i class="bi bi-dash-lg"></i>
                  <p class="card-title fw-bold">U-Shaped Design</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 p-2 col-md-6">
            <div class="card" onclick="check('#kitchenLayout3')">
              <div class="card-body">
                <div class="form-check float-end">
                  <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout3"
                    value="Straight">
                </div>
                <img src="{%static "assets/img/Straight-Kitchen-Layout.png" %}" class="card-img img-fluid"
                  alt="Straight Shaped Kitchen">
                <div class="card-footer text-dark">
                  <i class="bi bi-dash-lg"></i>
                  <p class="card-title fw-bold">Straight Shaped Design</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 p-2 col-md-6">
            <div class="card" onclick="check('#kitchenLayout4')">
              <div class="card-body">
                <div class="form-check float-end">
                  <input class="form-check-input" type="radio" name="kitchenLayout" id="kitchenLayout4"
                    value="Parallel">
                </div>
                <img src="{%static "assets/img/Parallel-Kitchen.png" %}" height="400" class="card-img img-fluid"
                  alt="Parallel Shaped Kitchen">
                <div class="card-footer text-dark">
                  <i class="bi bi-dash-lg"></i>
                  <p class="card-title fw-bold">Parallel Shaped Design</h5>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row m-3 p-3 text-center g-3">
          <div class="col-md-3 text-md-start col-sm-12">
            <a href="/" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button">
              <h4>Back</h4>
            </a>
          </div>
          <div class="offset-md-6 col-md-3 text-md-end col-sm-12">
            <button class="btn btn-lg bg-teal text-light px-5 py-2 rounded" role="button" type="submit">
              <h4>Next</h4>
            </button>
          </div>
        </div>
    </form>
  </div>

</div>
</div>

{% endblock body %}