{% extends 'base.html' %}

{% load static %}

{% block title %} Select Countertop {% endblock title %}  

{% block body %}

<div id="main-theme"  >
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <div class="container-lg text-center px-3 my-3 py-3 pb-4 justify-content-center col-lg-8 col-sm-12" id="select">
            <div class="p-3"><h1>How about adding a countertop?</h1></div>
            <div class="row p-2 justify-content-center">

                <div class="container-lg col-sm-12 p-3">
                    <img src="{%static "/assets/img/countertop.jpg" %}" class="img-fluid w-lg-50 w-sm-100" alt="Countertop">
                </div>
            </div>
            
        <form method="POST">

        {% csrf_token %}
                    
        <div class="row container-lg p-lg-1 m-lg-1 p-3 m-3 justify-content-center text-center g-3">
                <div class="col-md-3 text-sm-center col-sm-12">
                    <a href="#" class="btn btn-lg bg-light text-teal border-teal py-2 px-3 rounded" role="button" onclick="check('#yes')"> 
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="countertop" id="yes" value="Yes" required>
                        </div>
                        <h3 class="px-5">Yes</h3>
                    </a>   
                </div>
                <div class="offset-md-1 col-md-3 text-sm-center col-sm-12">
                    <a href="#" class="btn btn-lg bg-light text-teal border-teal py-2 px-3 rounded" role="button" onclick="check('#no')">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="countertop" id="no" value="No">
                        </div>
                        <h3 class="px-5">No</h3>
                    </a>  
                </div>
        </div>
            

        </div>

        <div class="row container-lg p-3 m-3 pb-5 text-center gy-3">
            <div class="offset-lg-1 col-lg-4 text-md-center col-md-12">
                <a href="/build_package" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-3 col-lg-4 text-md-center col-md-12">
                <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>   
            </div>
        </div>

    </form>

    </div>
</div>
{% endblock body %}