{% extends 'base.html' %}

{% load static %}

{% block title %} Select Lofts {% endblock title %}  

{% block body %}

<div id="main-theme"  >
    <div class="p-3">

        <div class="ps-md-5">
            <h1 class="text-light">Kitchen Price Estimate Steps</h1>
        </div>  

        <div class="container-lg text-center px-3 my-3 pt-4 pb-5 justify-content-center col-lg-8 col-sm-12" id="select">
            <div class="p-2"><h1>Which type of Loft are you looking for?</h1></div>

            <form method="POST">

                {% csrf_token %}
            <div class="row p-3 justify-content-center">

                <div class="container-lg col-lg-6 col-sm-12 p-3 text-dark">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="loft_type" id="custom_loft" value="custom" required onclick="enable()">
                        </div>
                        <h3 class="px-5 text-start">Custom Loft</h3>
                        <div class="row">
                            <div class="form-check col-4 text-end">
                                <label class="form-label">Feet:</label>
                            </div>
                            <div class="form-check col-8 text-start">
                                <select class="form-select text-teal border-teal shadow-none" name="loft" id="loft-select" disabled>
                                    <option selected value="1">1</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                  </select>
                            </div>
                            
                        </div>
                    </a>   
                </div>

                <div class="container-lg col-lg-6 col-sm-12 p-3">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="loft_type" id="2ft_loft" value="2" onclick="disable()"> 
                        </div>
                        <h3 class="px-5 text-start">2 Feet Loft <span class="nav-link small">(Recommended)</span></h3>
                    </a>   
                </div>

                <div class="container-lg col-lg-6 col-sm-12 p-3">
                    <a href="#" class="btn btn-lg d-block bg-light border-teal py-5 px-3 rounded" role="button">
                        <div class="form-check float-start">
                            <input class="form-check-input" type="radio" name="loft_type" id="no_loft" value="0" onclick="disable()">
                        </div>
                        <h3 class="px-5 text-start">No Loft</h3>
                    </a>   
                </div>

            </div>
            
     
            

        </div>

        <div class="row container-lg p-3 m-3 py-4 text-center gy-3">
            <div class="offset-lg-1 col-lg-4 text-md-center col-md-12">
                <a onclick="history.back()" class="btn btn-lg bg-light text-teal border-teal px-5 py-2 rounded" role="button"><h4>Back</h4></a>   
            </div>
            <div class="offset-lg-3 col-lg-4 text-md-center col-md-12">
                <button class="btn btn-lg btn-opacity bg-teal text-light px-5 py-2 rounded" type="submit" role="button"><h4>Next</h4></button>   
            </div>
        </div>

    </form>

    </div>
</div>
{% endblock body %}