* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 5px;
  padding: 5px;
  background: url(/static/projectgallery/img/gallery_bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#head {
  position: absolute;
  width: 26rem;
  height: 6.3rem;
  left: 2.4rem;
  top: 4.1rem;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 3rem;

  color: #006665;
}
#topImage {
  position: absolute;
  width: 30.25rem;
  height: 30.8rem;
  left: 61.5rem;
  top: -5.25rem;
  margin-left: 3rem;
}
#img1 {
  position: relative;
  left: 9rem;
  width: 22rem;
}

.firstC {
  width: 23.3rem;
  height: 24rem;
  margin: 6.1rem;
  margin-top: 9.7rem;
  border-radius: 35px 35px 20px 20px;
  background-color: #69a3a2;
  overflow: hidden;
}
.PI1 {
  height: 16rem;
  
}
.FC {
  width: 23.3rem;
  height: 13rem;
  margin: 11.1rem -12rem -11.9rem;
}

.CH {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
  color: #000000;
}
.CP {
  font-family: Alegreya;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  text-align: justify;
}
/* second card */

.SfirstC {
  width: 23.3rem;
  height: 24rem;
  margin-left: 49.1rem;
  margin-top: -4.9rem;
  border-radius: 35px 35px 20px 20px;
  background-color: #69a3a2;
  overflow: hidden;
}
.SPI1 {
  height: 16rem;
}
.SFC {
  width: 32.3rem;
  height: 13rem;
  margin: 1.1rem 7rem -14.9rem;
}

.SCH {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
  color: #000000;
}
.SCP {
  font-family: Alegreya;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  text-align: justify;
}

/* @media screen and (max-width: 1100px) {
    .row {
      font-size: 2rem;
    }
  } */

#last {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  margin-top: 19rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  color: #006665;

}

#last2
{
  margin-left: 850px;
}

#last3
{
  margin-right: 1015px;
}