#sec-two {
    #blogs {
        // height: 50vh;
        // overflow-y: auto;

        .blog {
            .card-text {
                font-size: .9rem;
            }
        }
    }

    #news {
        // height: 50vh;
        // overflow-y: auto;
        background: #F0F6F6;
        border-radius: 18px;

        .img-fluid {
            width: 100%;
        }

        .news {
            .heading {
                font-size: 1rem;
                font-weight: bold;
            }

            .time {
                font-size: .7rem;
            }

            .content {
                font-size: .8rem;
            }

            .news-footer {
                font-size: .8rem;
                color: rgba(0, 122, 233, 1);
            }
        }
    }
}

.section-title {
    width: fit-content;
    color: rgba(0, 102, 101, 1);
    padding-bottom: 5px;
    border-bottom: rgba(0, 102, 101, 1) 5px solid;
}


// post.html
#post-item {
    .content {
        max-width: 45rem;
        color: rgba(111, 104, 104, 1);
    }
}

.comment{
    background-color: #eee;
}